---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eveniet suscipit
    tenetur unde doloremque ipsa expedita illo ut, exercitationem, eligendi
    iusto laudantium! Aliquid quos accusantium reiciendis inventore suscipit,
    quaerat quod? Impedit illo voluptatum doloremque perferendis in sequi
    dolore. Asperiores exercitationem odit vero ab blanditiis nulla deserunt
    aperiam! Eveniet consectetur quas dolorum odit adipisci voluptatum incidunt
    perspiciatis eaque quam, sit, sequi iusto dignissimos accusantium qui
    expedita error perferendis necessitatibus, reiciendis officia voluptatem.
    Quam ratione earum saepe ab distinctio culpa enim, magni debitis numquam
    atque quos optio voluptas, consectetur nesciunt maiores voluptate, quasi
    blanditiis dignissimos dolore? Voluptatem reprehenderit a maiores mollitia
    odio.
  </p>
</Layout>
